@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;700&family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #121C24;
  color: rgb(212, 212, 212);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  color: rgb(212, 212, 212);
  padding: 10px 20px;
  font-size: 18px;
  transition: all 0.3s;
}
button:hover {
  background-color: #63BEA1;
  border-color: #63BEA1;
  color: #121C24;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input[type=submit] {
  padding: 12px 35px;
  background-color: transparent;
  color: rgb(212, 212, 212);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  transition: ease-in-out 0.3s;
  font-size: inherit;
}
button:hover, input[type=submit]:hover {
  margin-top: -4px;
  margin-bottom: 4px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

input, textarea {
  padding: 17px 25px;
  width: 49%;
  border-radius: 10px;
  border: none;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 18px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 18px;
}
input::placeholder, textarea::placeholder {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 18px;
}
input:focus, textarea:focus {
  border: 1px solid #63BEA1;
}

input[type=submit] {
  margin-top: 15px;
}

.full-input {
  width: 100%;
}

.page-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: lighter;
}
.page-link img {
  height: 12px;
}

img {
  width: 100%;
}

.btn-special {
  border: 0;
  border-bottom: 1px solid rgb(212, 212, 212);
  border-radius: 0;
  padding: 12px 0;
}
.btn-special:hover {
  padding: 12px 35px;
  border-radius: 10px;
  border-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.sub-heading {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
}
.sub-heading img {
  height: 14px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading {
  font-size: 32px;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}

.under-construction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
  .heading {
    font-size: 20px;
    margin-top: 30px;
  }
  .sub-heading {
    font-size: 16px;
    align-items: flex-start;
  }
  button {
    padding: 12px 20px;
  }
}
@media screen and (max-width: 740px) {
  input {
    width: 100%;
  }
}
.introduction {
  height: 100vh;
  background-image: url("/static/img/home background.jpg");
  background-size: cover;
  background-position: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  background-blend-mode: overlay;
  position: relative;
}
.introduction::after {
  content: "";
  background-color: #141C24;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.95;
  z-index: 0;
}
.introduction .container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin: auto;
  position: relative;
  z-index: 1;
  transition: all ease-in-out 0.3s;
}
.introduction .container .greeting {
  font-size: 18px;
}
.introduction .container .value-proposition {
  font-size: 50px;
  font-weight: bold;
}
.introduction .container .services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.introduction .container .services .service {
  max-width: 32%;
  height: 220px;
  border: 1px solid #E5F5F5;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(20, 28, 36, 0.7294117647);
  transition: all 0.5s;
}
.introduction .container .services .service:hover {
  background-color: #141C24;
  margin-top: -8px;
}
.introduction .container .services .service .title {
  display: flex;
  justify-content: start;
  gap: 14px;
}
.introduction .container .services .service .title img {
  max-width: 40px;
}
.introduction .container .services .service .service-title {
  font-size: 24px;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}
.introduction .container .services .service .service-desc {
  margin-bottom: 20px;
  transition: 0.3s;
}
.introduction .container .services .service a {
  display: none;
  transition: 0.3s;
}
.introduction .container .services .service:hover a {
  display: block;
}
.introduction .container .services .service:hover .service-title {
  display: none;
}
.introduction .container .services .service:hover .service-desc {
  margin-top: 30px;
}
.introduction .container .buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1060px) {
  .introduction .container .services .service {
    max-width: 29%;
    height: 300px;
  }
}
@media screen and (max-width: 780px) {
  .introduction {
    height: auto;
    padding: 100px 0;
  }
  .introduction .container {
    padding: 0 8%;
  }
  .introduction .container .services .service {
    height: 200px;
    max-width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .introduction .container {
    padding: 0 20px;
  }
  .introduction .container .greeting {
    font-size: 20px;
  }
  .introduction .container .value-proposition {
    font-size: 32px;
  }
  .introduction .container .services .service {
    max-width: 100%;
    height: 280px;
  }
  .introduction .container .services .service .title h2 {
    font-size: 24px;
  }
  .introduction .container .services .service a {
    display: block;
  }
  .introduction .container .buttons {
    flex-direction: column;
    align-items: center;
  }
}
.about-container {
  max-width: 50%;
  margin: unset;
}

.about {
  width: 100%;
  position: relative;
  padding-top: 150px;
}
.about .container .col-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about .container .col-left .info {
  font-size: 32px;
}
.about .container .col-left .info h1 {
  font-size: 40px;
  margin-top: 20px;
}
.about .container .col-left .project-link a {
  color: inherit;
  font-weight: lighter;
  text-decoration: none;
  display: flex;
  gap: 10px;
  font-size: 32px;
}
.about .container .col-left .buttons {
  display: flex;
  gap: 20px;
}
.about .container .col-right {
  width: 40%;
}
.about .container .col-right img {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .container .col-right .img-mobile {
  display: none;
}

.experience {
  margin: 80px 0;
  position: relative;
  z-index: 2;
}
.experience .container .about-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.experience .container .about-container .skills {
  display: flex;
  gap: 20px;
}
.experience .container .about-container .skills .skill {
  background-color: #192530;
  border-radius: 20px;
  padding: 20px;
}

.technologies-section {
  margin: 80px 0;
}
.technologies-section .container {
  position: relative;
  z-index: 2;
}
.technologies-section .container .about-container .technologies {
  margin-top: 50px;
  margin-left: 25px;
  display: grid;
  grid-template-columns: 28% 28% 28%;
  justify-content: space-between;
  row-gap: 50px;
}
.technologies-section .container .about-container .technologies .technology {
  background-color: #192530;
  position: relative;
  padding: 25px;
  border-radius: 20px;
  transition: ease-in-out 0.3s;
}
.technologies-section .container .about-container .technologies .technology .icon {
  position: absolute;
  left: -25px;
  top: -25px;
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid inherit;
  border-radius: 8px;
}
.technologies-section .container .about-container .technologies .technology:hover {
  margin-top: -4px;
  margin-bottom: 4px;
}

@media screen and (max-width: 1200px) {
  .about .container .col-left {
    background-color: rgba(18, 28, 36, 0.8235294118);
    position: relative;
    z-index: 2;
    padding-right: 30px;
  }
}
@media screen and (max-width: 740px) {
  .about .container {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .about .container .col-left {
    width: 100%;
    margin-top: 230px;
    padding: 50px 20px;
    border-radius: 20px;
    padding-right: 0;
  }
  .about .container .col-left .project-link a {
    font-size: 24px;
  }
  .about .container .col-left .info {
    font-size: 24px;
    font-weight: bold;
  }
  .about .container .col-left .info h1 {
    font-size: 32px;
  }
  .about .container .col-right img {
    position: fixed;
    z-index: 0;
    top: unset;
    bottom: 0;
    max-width: 100%;
  }
  .about .container .col-right .img-mobile {
    display: block;
  }
  .about .container .col-right .img-desk {
    display: none;
  }
  .experience .container {
    margin: 0 20px;
    padding: 50px 20px;
    background-color: rgba(18, 28, 36, 0.8235294118);
    border-radius: 20px;
  }
  .experience .container .about-container {
    max-width: 100%;
  }
  .experience .container .about-container .skills {
    flex-direction: column;
  }
  .technologies-section .container {
    padding: 50px 20px;
    margin: 0 20px;
    background-color: rgba(18, 28, 36, 0.8235294118);
    border-radius: 20px;
  }
  .technologies-section .container .about-container {
    max-width: 100%;
  }
  .technologies-section .container .about-container .technologies {
    grid-template-columns: 100%;
  }
}
.single-portfolio {
  padding-top: 100px;
}
.single-portfolio img {
  border-radius: 10px;
}
.single-portfolio .container {
  display: flex;
  gap: 100px;
  align-items: center;
}
.single-portfolio .container .col-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.single-portfolio .container .col-left .portfolio-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.single-portfolio .container .col-left .portfolio-section-call-to-action {
  color: rgb(212, 212, 212);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.single-portfolio .container .col-right {
  width: 50%;
}
.single-portfolio .container .col-right .desktop {
  display: none;
}
.single-portfolio .container .col-right .desktop {
  display: block;
  position: relative;
}
.single-portfolio .container .col-right .desktop .content {
  position: relative;
}
.single-portfolio .container .col-right .desktop .content .screen img {
  height: 600px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: ease-in-out 1s;
}
.single-portfolio .container .col-right .desktop .content .screen img:hover {
  -o-object-position: bottom;
     object-position: bottom;
  transition: ease-in-out 5s;
}

@media screen and (max-width: 740px) {
  .single-portfolio {
    height: auto;
    padding: 100px 0;
  }
  .single-portfolio .container {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .single-portfolio .container .col-left, .single-portfolio .container .col-right {
    width: 100%;
  }
  .single-portfolio .container .col-right .desktop .content .screen img {
    height: 350px;
  }
}
.portfolio {
  height: 100vh;
  background-image: url("/static/img/home background.jpg");
  background-size: cover;
  background-position: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  background-blend-mode: overlay;
  position: relative;
}
.portfolio::after {
  content: "";
  background-color: #141C24;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.95;
  z-index: 0;
}
.portfolio .container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin: auto;
  position: relative;
  z-index: 1;
  transition: all ease-in-out 0.3s;
}
.portfolio .container .page-link {
  font-size: 18px;
}
.portfolio .container .value-proposition {
  font-size: 50px;
  font-weight: bold;
}
.portfolio .container .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.portfolio .container .projects .project {
  max-width: 380px;
  position: relative;
  background-position: top;
  background-size: cover;
}
.portfolio .container .projects .project .project-img {
  height: 380px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: linear 0.3s;
}
.portfolio .container .projects .project .title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #121C24;
  border-radius: 20px;
}
.portfolio .container .projects .project .detail-link {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: none;
}
.portfolio .container .projects .project .detail-link button {
  background-color: #121C24;
}
.portfolio .container .projects .project .detail-link button:hover {
  background-color: #63BEA1;
}
.portfolio .container .projects .project:hover .detail-link {
  display: block;
}
.portfolio .container .projects .project:hover .title {
  display: none;
}
.portfolio .container .buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 740px) {
  .portfolio {
    height: auto;
    padding: 100px 0;
  }
  .portfolio .container .value-proposition {
    font-size: 32px;
  }
  .portfolio .container .projects {
    justify-content: center;
  }
  .portfolio .container .projects .project {
    max-width: 100%;
  }
}
.quotation {
  height: 100vh;
  display: flex;
  align-items: center;
}
.quotation .container {
  gap: 100px;
}
.quotation .container .left-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.quotation .container .right-col {
  width: 50%;
}

@media screen and (max-width: 740px) {
  .quotation {
    height: auto;
    padding: 100px 0;
  }
  .quotation .container {
    flex-direction: column;
  }
  .quotation .container .left-col {
    width: 100%;
  }
  .quotation .container .right-col {
    width: 100%;
  }
}
.thank-you {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thank-you .container {
  flex-direction: column;
  gap: 20px;
}
.thank-you .container .contact-btn {
  display: flex;
  gap: 20px;
}
.thank-you .container .contact-btn a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.thank-you .container .contact-btn a i {
  font-size: 24px;
}/*# sourceMappingURL=main.css.map */