@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;700&family=Poppins:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 1;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
  background-color: #181818;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.navigation {
  height: 70px;
  position: fixed;
  background-color: #181818;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 10px;
}

.nav-container {
  margin: 0 auto;
}

.contact-btn {
  background-color: #3fa6f0;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

@media only screen and (min-width: 799px) {
  .nav-container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
.brand {
  margin-left: 20px;
  position: absolute;
}
.brand a img {
  height: 50px;
  width: auto;
}

@media only screen and (min-width: 799px) {
  .brand {
    margin-left: 0;
  }
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 10px 0 0 20px;
  line-height: 50px;
  background: #181818;
  color: white;
  text-decoration: none;
}
nav ul li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #3fa6f0;
  width: 0%;
  bottom: 0px;
}
nav ul li a:hover::before {
  width: 70%;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 799px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
    text-align: center;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li a:hover::before {
    width: 20%;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #3fa6f0;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
.container {
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .container {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
  }
}
.cta {
  background-color: #3FA6F0;
  padding: 15px 30px;
  border: none;
  color: white;
  border-radius: 5px;
  transition: background-color, 0.15s;
}
.cta:hover {
  background-color: white;
  color: #3fa6f0;
}

.sub-heading {
  text-transform: uppercase;
  font-weight: lighter;
}

.section-intro {
  font-weight: bold;
  font-size: 24px;
}

.divider {
  width: 100px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}
.form-control::-moz-placeholder {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 18px;
}
.form-control:-ms-input-placeholder {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 18px;
}
.form-control::placeholder {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 18px;
}

.full-section {
  background: url("/static/img/heroimg.png");
  background-position-x: right;
  background-position-y: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.full-section .hero-section {
  background: url("/static/img/home background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8823529412);
  background-blend-mode: overlay;
  margin-top: 80px;
  padding: 100px 0 100px 0;
  display: flex;
  gap: 30px;
  flex-direction: column-reverse;
}
.full-section .hero-section .left-col {
  text-align: center;
}
.full-section .hero-section .left-col .divider {
  margin: auto;
}
.full-section .hero-section .right-col {
  display: none;
}
.full-section .hero-section .right-col img {
  width: 100%;
}

.about-me {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about-me .about-text {
  text-align: center;
}
.about-me .about-content .left-col {
  padding-bottom: 60px;
}
.about-me .about-content .right-col {
  display: flex;
  gap: 10px;
}
.about-me .about-content .right-col img {
  width: 50%;
}

.what-i-do {
  text-align: center;
}
.what-i-do .what-i-do-col {
  background-color: rgb(37, 37, 37);
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: background-color, 0.2s;
}
.what-i-do .what-i-do-col:hover {
  background-color: rgb(56, 56, 56);
}
.what-i-do .what-i-do-col i {
  color: #3FA6F0;
  font-size: 32px;
}

.empty-section {
  height: 200px;
  background-image: url("/static/img/programming-1873854_1280-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio {
  padding-top: 60px;
}
.portfolio .portfolio-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.portfolio .portfolio-grid .portfolio-card {
  margin-bottom: 20px;
  background-color: #333;
  border-radius: 5px;
}
.portfolio .portfolio-grid .portfolio-card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -o-object-position: top;
     object-position: top;
  transition: ease-in-out 0.5s;
}
.portfolio .portfolio-grid .portfolio-card img:hover {
  -o-object-position: bottom;
     object-position: bottom;
  transition: ease-in-out 2s;
}
.portfolio .portfolio-grid .portfolio-card .card-content {
  padding: 20px;
}
.portfolio .portfolio-grid .portfolio-card .card-content .project-title {
  text-transform: uppercase;
  margin-top: -2px;
}
.portfolio .portfolio-grid .portfolio-card .card-content .project-details-link {
  color: #3FA6F0;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  transition: color, 0.2s;
}
.portfolio .portfolio-grid .portfolio-card .card-content .project-details-link:hover {
  color: white;
}

.experience-skills .experience {
  padding-top: 60px;
}
.experience-skills .experience .card {
  background-color: rgb(37, 37, 37);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-content .left-col {
  text-align: center;
}
.contact-content .left-col .icon-list li a {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}
.contact-content .right-col form {
  display: block;
}
.contact-content .right-col form .form-elements {
  width: 94%;
}

footer {
  background-color: black;
}
footer .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}

@media (min-width: 540px) {
  .container {
    max-width: 1280px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .portfolio .portfolio-grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .portfolio .portfolio-grid .portfolio-card {
    width: 100%;
  }
}
@media (min-width: 800px) {
  .container {
    max-width: 1280px;
  }
  .full-section {
    background-repeat: no-repeat;
  }
  .full-section .hero-section {
    margin-top: 0;
    background: none;
    padding-top: 150px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
  }
  .full-section .hero-section .left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    text-align: start;
  }
  .full-section .hero-section .left-col .divider {
    margin: 0;
  }
  .full-section .hero-section .right-col {
    display: block;
    width: 50%;
    text-align: end;
  }
  .full-section .hero-section .right-col img {
    width: auto;
    height: 500px;
  }
  .about-me {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about-me .about-text {
    text-align: start;
  }
  .about-me .about-content {
    display: flex;
  }
  .about-me .about-content .left-col {
    width: 50%;
    padding-right: 50px;
  }
  .about-me .about-content .right-col {
    display: flex;
    gap: 10px;
  }
  .about-me .about-content .right-col img {
    width: 300px;
  }
  .what-i-do {
    text-align: start;
    padding-bottom: 60px;
  }
  .what-i-do .what-i-do-cols {
    display: flex;
    gap: 30px;
  }
  .empty-section {
    height: 300px;
  }
  .portfolio .portfolio-grid {
    grid-template-columns: 25% 25% 23% 25%;
  }
  .portfolio {
    flex-direction: row;
    justify-content: space-between;
  }
  .portfolio .portfolio-card {
    width: 25%;
  }
  .experience-skills {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .experience-skills .skills {
    width: 50%;
  }
  .experience-skills .skills img {
    width: 90%;
  }
  .experience-skills .experience {
    padding-top: 0;
    width: 50%;
  }
  .experience-skills .experience .card {
    display: flex;
    gap: 30px;
    background-color: rgb(37, 37, 37);
    padding: 20px;
    margin-bottom: 20px;
  }
  .experience-skills .experience .card .left-col p {
    font-size: 16px;
  }
  .experience-skills .experience .card .card-items .card-title {
    margin: 0px;
    margin-bottom: -10px;
  }
  .contact-content {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
  }
  .contact-content .left-col {
    width: 50%;
    text-align: start;
  }
  .contact-content .left-col .icon-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: flex-start;
    margin-left: -40px;
  }
  .contact-content .right-col {
    width: 50%;
    display: flex;
    justify-content: end;
  }
  .contact-content .right-col form {
    display: block;
  }
  .contact-content .right-col form .form-elements {
    display: flex;
    justify-content: space-between;
    width: 94%;
  }
  .contact-content .right-col form .form-elements .half-form-element {
    width: 46%;
  }
  .contact-content .right-col form .form-elements .full-form-element {
    width: 100%;
  }
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.offer-section {
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}
.offer-section .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.offer-section .container .left-col {
  text-align: center;
}
.offer-section .container .left-col p {
  text-align: center;
  margin-bottom: 50px;
}
.offer-section .container .right-col {
  width: 70%;
}

.benefits {
  background-color: white;
  color: #333;
  text-align: center;
}
.benefits h2,
.benefits h4 {
  color: #3FA6F0;
}
.benefits .benefits-content img {
  width: 70%;
}
.benefits .benefits-content .benefit-card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.benefits .benefits-content .visibility {
  display: flex;
  flex-direction: column-reverse;
}
.benefits .benefits-content .customers {
  display: flex;
  flex-direction: column-reverse;
}

.cta-section .container {
  text-align: center;
}
.cta-section .container h2 {
  color: #3FA6F0;
}

.qna {
  margin-top: 50px;
  background: white;
  color: #181818;
}
.qna .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.qna .container h2 {
  color: #3FA6F0;
  text-transform: capitalize;
}
.qna .container .question {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  transition: background-color 0.5s;
}
.qna .container .question:hover {
  background-color: #ddd;
}
.qna .container .question .question-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: #3FA6F0;
}

@media (min-width: 540px) {
  .offer-section {
    height: auto;
    padding-top: 200px;
    padding-bottom: 50px;
  }
  .offer-section .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .offer-section .container .left-col {
    width: 50%;
    text-align: start;
  }
  .offer-section .container .left-col p {
    text-align: start;
    margin-bottom: 50px;
  }
  .offer-section .container .right-col {
    width: 50%;
  }
  .offer-section .container .right-col img {
    width: 100%;
  }
  .benefits .container .benefits-content .benefit-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .benefits .container .benefits-content .benefit-card .left-col {
    text-align: start;
  }
  .benefits .container .benefits-content .benefit-card .right-col {
    text-align: start;
  }
  .benefits .container .benefits-content .customers {
    flex-direction: row;
  }
  .benefits .container .benefits-content .credibility {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .benefits .container .benefits-content .benefit-card {
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  .benefits .container .benefits-content .benefit-card .text-col {
    width: 70%;
  }
  .benefits .container .benefits-content .benefit-card img {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  .benefits .container .benefits-content .benefit-card img:hover {
    background-color: #ddd;
  }
  .cta-section {
    padding: 100px;
  }
  .cta-section .container p {
    margin-bottom: 50px;
  }
  .offer-form {
    background-color: white;
  }
  .offer-form .container {
    color: #181818;
  }
  .offer-form .container .sub-heading {
    color: #3FA6F0;
  }
  .offer-form .container .offer-form-content {
    width: 600px;
    margin: auto;
  }
  .offer-form .container .offer-form-content form .form-control {
    background-color: #f2f2f2;
  }
}
form {
  display: block;
}
form .form-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 94%;
}
form .form-elements .half-form-element {
  width: 100%;
}
form .form-elements .full-form-element {
  width: 100%;
}

@media (min-width: 540px) {
  form .form-elements {
    flex-direction: row;
  }
  form .form-elements .half-form-element {
    width: 46%;
  }
}
.thank-you {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thank-you .container {
  text-align: center;
}
.thank-you .container h1 {
  color: #3FA6F0;
}
.thank-you .container .contact-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.thank-you .container .contact-btn a {
  text-decoration: none;
  color: white;
}
.thank-you .container .contact-btn a i {
  text-transform: capitalize;
}

.quotation .container {
  padding-top: 150px;
}
.quotation .container .right-col form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}
.quotation .container .right-col p {
  font-size: smaller;
  color: #181818;
}

@media (min-width: 540px) {
  .quotation .container {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
  }
  .quotation .container .left-col {
    width: 50%;
  }
  .quotation .container .right-col {
    width: 50%;
  }
}
@media (min-width: 540px) {
  .thank-you .container {
    width: 540px;
  }
}
.proposal-title .container {
  padding-top: 200px;
  padding-bottom: 20px;
}

.assessment .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pricing .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 0;
  padding-bottom: 50px;
}
.pricing .container P {
  font-size: 18px;
  margin: 20px 0;
}
.pricing .container a.cta {
  align-self: flex-start;
}
.pricing .container .book-a-metting {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.processing .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.processing .container P {
  font-size: 18px;
}
.processing .container .book-a-metting {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.processing .container a.cta {
  align-self: flex-start;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #333;
  text-align: left;
  padding: 8px;
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: #1f1f1f;
}

.single-portfolio {
  padding-top: 100px;
}
.single-portfolio img {
  border-radius: 5px;
}
.single-portfolio .container {
  display: flex;
  flex-direction: column-reverse;
}
.single-portfolio .container .col-left {
  width: 100%;
}
.single-portfolio .container .col-left .portfolio-section .heading {
  margin-bottom: -20px;
}
.single-portfolio .container .col-left .portfolio-section h5 {
  margin-bottom: -20px;
}
.single-portfolio .container .col-left .portfolio-section .sub-heading {
  margin-bottom: -20px;
}
.single-portfolio .container .col-left .portfolio-section-call-to-action {
  background-color: white;
  color: #181818;
  border-radius: 5px;
  padding: 30px;
}
.single-portfolio .container .col-right .desktop {
  display: none;
}
.single-portfolio .container .col-right .desktop {
  display: block;
  position: relative;
}
.single-portfolio .container .col-right .desktop .content {
  position: relative;
}
.single-portfolio .container .col-right .desktop .content .screen img {
  height: 300px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: ease-in-out 1s;
}
.single-portfolio .container .col-right .desktop .content .screen img:hover {
  -o-object-position: bottom;
     object-position: bottom;
  transition: ease-in-out 5s;
}

@media screen and (min-width: 560px) {
  .single-portfolio {
    padding-top: 50px;
  }
  .single-portfolio .container {
    flex-direction: row;
    gap: 30px;
  }
  .single-portfolio .container .col-left {
    width: 50%;
  }
  .single-portfolio .container .col-left .portfolio-section-call-to-action {
    background-color: white;
    color: #181818;
    border-radius: 5px;
    padding: 30px;
  }
  .single-portfolio .container .col-right {
    width: 50%;
  }
  .single-portfolio .container .col-right .desktop {
    display: block;
    position: relative;
  }
  .single-portfolio .container .col-right .desktop .content {
    position: relative;
  }
  .single-portfolio .container .col-right .desktop .content .screen img {
    height: 600px;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    transition: ease-in-out 1s;
  }
  .single-portfolio .container .col-right .desktop .content .screen img:hover {
    -o-object-position: bottom;
       object-position: bottom;
    transition: ease-in-out 5s;
  }
  .single-portfolio .container .col-right .mobile {
    display: none;
  }
}
#delete-cookie {
  margin-top: 200px;
}

main {
  text-align: center;
}

.cookie-bar {
  position: fixed;
  width: 100%;
  height: 70px;
  background: #DC8574;
  color: white;
  margin-top: -70px;
  line-height: 70px;
  font-family: arial;
  font-size: 1rem;
  text-align: center;
  transition: 0.4s;
}
.cookie-bar--active {
  margin-top: 0;
}
.cookie-bar button {
  outline: 0;
  border: 0;
  background: transparent;
}
.cookie-bar button, .cookie-bar a {
  padding: 5px;
  margin: 0;
  color: #DC8574;
  background: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  opacity: 0.9;
}
.cookie-bar button:hover, .cookie-bar a:hover {
  opacity: 1;
}

.appear {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(20px);
}
.appear.inview {
  opacity: 1;
  transform: none;
}
.appear.inview:nth-child(1) {
  transition-delay: 0.1s;
}
.appear.inview:nth-child(2) {
  transition-delay: 0.2s;
}
.appear.inview:nth-child(3) {
  transition-delay: 0.3s;
}
.appear.inview:nth-child(4) {
  transition-delay: 0.4s;
}
.appear.inview:nth-child(5) {
  transition-delay: 0.5s;
}

.captcha {
  margin-bottom: 10px;
}/*# sourceMappingURL=styles.css.map */