{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="single-portfolio">
    <div class="container">
        <div class="col-left">
            <div class="portfolio-section">
                <h1 class="heading">{{project.title}}</h1>
                <h5>By {{project.company}} </h5>
                <h6>Started on {{project.started_on}} | Completed on {{project.completed_on}}</h6>
                <p class="introduction">
                    {{project.details}}
                </p>
            </div>

            <div class="portfolio-section-call-to-action">
                <h4 class="heading">Let’s work on your next project</h4>
                <p class="call-to-action">
                    Are you planning to launch or redesign your website? My process is smooth and simple, 
                    which makes your project delivery an incredeible experience for both of us. Click get a quotation, and let's make something amazing
                </p>
                <a href="{% url 'quotation' %}" class="cta">Get a quotation</a>
            </div>
        </div>

        <div class="col-right">
            <div class="desktop">
                <div class="content">
                    <div class="screen" >
                        <img src="{{project.project_image.url}}" alt="">
                    </div>
                </div><!--content-->
            </div>
        </div>
    </div>
</section>
{% endblock %}