{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Primary Meta Tags -->
    <title>I Will Design A Professional Website For Just $150</title>
    <meta name="title" content="I Will Design A Professional Website For Just $150">
    <meta name="description" content="No hidden charges, no additional costs, domain name and hosting included">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alphonse.live/">
    <meta property="og:title" content="I Will Design A Professional Website For Just $150">
    <meta property="og:description" content="No hidden charges, no additional costs, domain name and hosting included">
    <meta property="og:image" content="{% static 'img/affordable websites.png' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://alphonse.live/">
    <meta property="twitter:title" content="I Will Design A Professional Website For Just $150">
    <meta property="twitter:description" content="No hidden charges, no additional costs, domain name and hosting included">
    <meta property="twitter:image" content="{% static 'img/affordable websites.png' %}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/Alphonse-Favicon-1.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/54c10e37be.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DWKDYJFYYE"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DWKDYJFYYE');
    </script>
</head>

<body>
    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="/"><img src="{% static 'img/Alphonse-Logo-2.png' %}" alt=""></a>
            </div>
            <nav>
                <div class="nav-mobile">
                    <a id="nav-toggle" href="#!"><span></span></a>
                </div>
                <ul class="nav-list">
                    <li><a href="/">Welcome</a></li>
                    <li><a href="/#about">About me</a></li>
                    <li>
                        <a href="/#services">Services</a>
                        <ul class="nav-dropdown">
                            <li><a href="/#services">UI/UX Design</a></li>
                            <li><a href="/#services">Web Development</a></li>
                            <li><a href="/employment.html">Web maintenance</a></li>
                        </ul>
                    </li>
                    <li><a href="/#portfolio">Portfolio</a></li>
                    <li><a class="get-in-touch" href="{% url 'quotation' %}"><button class="contact-btn">Request a
                                quotation</button> </a></li>

                </ul>
            </nav>
        </div>
    </section>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="copyright container">
            <i class='far fa-copyright'></i>
            <p>Alphonse SIBOMANA {% now " Y " %}</p>
        </div>

    </footer>
    
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>