{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/Alphonse-Favicon-1.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/54c10e37be.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <title>Alphonse | Web Developer</title>
</head>
<body>
    <div class="navigation-bar">
        <header class="container">
            <nav class="navbar">
                <!-- LOGO -->
                <div class="logo"><img href="/" src="{% static 'img/Alphonse-Logo-2.png' %}" alt=""></div>
                <!-- NAVIGATION MENU -->
                <ul class="nav-links">
                    <!-- USING CHECKBOX HACK -->
                    <input type="checkbox" id="checkbox_toggle" />
                    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                    <!-- NAVIGATION MENUS -->
                    <div class="menu">
                        <li><a href="/">Welcome</a></li>
                        <li><a href="#about">About</a></li>
                        <li class="services">
                            <a href="#services">Services</a>
                            <!-- DROPDOWN MENU -->
                            <!--
                                <ul class="dropdown">
                                <li><a href="/">Dropdown 1 </a></li>
                                <li><a href="/">Dropdown 2</a></li>
                                <li><a href="/">Dropdown 2</a></li>
                                <li><a href="/">Dropdown 3</a></li>
                                <li><a href="/">Dropdown 4</a></li>
                            </ul>
                            -->
                        </li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li class="cta"><a href="{% url 'quotation' %}">Request a quotation</a></li>
                    </div>
                </ul>
            </nav>
        </header>
    </div>
    {% block content %}
    {% endblock %}
    <div id="cookiePopup" class="hide">
        <img src="cookie.png" />
        <p>
          Our website uses cookies to provide your browsing experience and
          relevant information. Before continuing to use our website, you agree &
          accept of our <a href="#">Cookie Policy & Privacy.</a>
        </p>
        <button id="acceptCookie">Accept</button>
      </div>
    <footer>
        <div class="copyright container">
            <i class='far fa-copyright'></i>
            <p>Alphonse SIBOMANA</p>
        </div>

    </footer>
</body>
</html>