{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="full-section">
        <div class="container hero-section">
            <div class="left-col">
                <h4 class="sub-heading"> I got a hot deal for you!</h4>
                <h1 class="heading">A complete Website For Just $150</h1>
                <div class="divider">
                    <hr>
                </div>
                <p>Hey, my name is Alphonse SIBOMANA, and I am a web developer. My goal is to help your business or portfolio to drive more customers,
                    increase revenue, and overall value to your business with a website that converts.
                    I am offering a complete professional website for businesses or individuals, for just $150, No additional costs</p>
                <a href="{% url 'offer' %}">
                    <button class="cta">
                        Get yours now
                    </button>
                </a>
            </div>
            <div class="right-col">
                <img class="hero-img" src="{% static 'img/home background.png' %}" alt="">
            </div>
        </div>


    </section>
    <section class="container about-me" id="about">
        <div class="about-text">
            <h4 class="sub-heading">About me</h4>
            <h4 class="section-intro">I am the best and affordable and enthusiastic web designer, with a rich experience
                of over 4 years in website design industry.</h4>
            <div class="about-content">
                <div class="left-col">
                    <h4 class="sub-heading">
                        I DESIGN PROFESSIONAL & PROFITABLE WEBSITES
                    </h4>
                    <p>
                        With years of experience in graphic and web design I have mastered the skills of understanding
                        client requirements according to the latest trends. I have worked with businesses from different
                        niches so you can rely on me for yours. Having worked on various projects that are already live,
                        I can help you with the best possible suggestions and ideas that we can proceed with. With me,
                        you aren’t forced to accept anything. I give you a variety of options we can work on together.
                    </p>
                    <a href="{% url 'quotation' %}">
                        <button class="cta">
                            Request a quotation
                        </button>
                    </a>
                    
                </div>
                <div class="right-col">
                    <img src="{% static 'img/Ineza-Couture.jpg' %}" alt="">
                    <img src="{% static 'img/Imbonizarwo.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="container what-i-do" id="services">
        <h4 class="sub-heading">What I do</h4>
        <h4 class="section-intro">
            From understanding your requirements, designing a blueprint and delivering the final product, I do
            everything that falls in between these lines.
        </h4>
        <div class="what-i-do-cols">
            <div class="what-i-do-col">
                <i class='fas fa-pencil-ruler icon'></i>
                <div class="card">
                    <h5 class="card-title">UI/UX Design</h5>
                    <p class="card-description">
                        An effective UI/UX is what captures attention and spreads a clear message.
                        I make sure the design is innovative and neat with all of this.
                    </p>

                </div>
            </div>
            <div class="what-i-do-col">
                <i class='fas fa-code icon'></i>
                <div class="card">
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-description">
                        If you are looking for a developer who’ll take over the research and development of your
                        website,
                        I am a well-established professional to help you with this.
                    </p>

                </div>
            </div>
            <div class="what-i-do-col">
                <i class='fas fa-laptop-code icon'></i>
                <div class="card">
                    <h5 class="card-title">Web maintenance</h5>
                    <p class="card-description">
                        If you are looking for a user-friendly app that will attract more mobile users,
                        I can help you design and build a platform with the latest and trendiest look and feel.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section class="empty-section">
    </section>

    <section id="portfolio" class="portfolio">
        <div class="container ">
            <h4 class="sub-heading">Portfolio</h4>
            <h4 class="section-intro">I am the best and affordable and enthusiastic web designer, with a rich experience
                of over 4 years in website design industry.
            </h4>
            <div class="portfolio-grid">
                {% for project in projects %}
                <div class="portfolio-card">
                    <img src="{{project.project_image.url}}" alt="">
                    <div class="card-content">
                        <h5 class="project-title">
                            {{project.title}}
                        </h5>
                        <div class="project-short-details">{{project.short_description}}
                        </div>
                        <a class="project-details-link" href="{% url 'project' project.id %}">More details <span><i
                                    class="fas fa-arrow-right"></i></span></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="container experience-skills">
        <div class="skills">
            <h4 class="sub-heading"> Skills</h4>
            <img src="{% static 'img/skills.png' %}" alt="">
        </div>
        <div class="experience">
            <h4 class="sub-heading">Experience</h4>
            <div class="card">
                <div class="left-col">
                    <h5>2018-Now</h5>
                    <div class="divider">
                        <hr>
                    </div>
                    <p>Yobrand Group</p>
                </div>
                <div class="card-items">
                    <h5 class="card-title">LEAD UI/UX DESIGNER</h5>
                    <p class="card-description">
                        I have responsibly led a team of 12 designers to help, supervise and approve their designs
                        to make sure it matches client expectations and latest design standards.
                    </p>

                </div>
            </div>

            <div class="card">
                <div class="left-col">
                    <h5>2020-2021</h5>
                    <div class="divider">
                        <hr>
                    </div>
                    <p>Next Visibility</p>
                </div>
                <div class="card-items">
                    <h5 class="card-title">UI/UX Design</h5>
                    <p class="card-description">
                        I was responsible for all the in-house and client-based web development assignments.
                        I take pride in having helped the best of clients and getting maximum ratings for the company.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section class="container contact" id="contact">
        <div class="contact-content">
            <div class="left-col">
                <h4 class="sub-heading">Send a message</h4>
                <p>Whether you wish to discuss new ideas or have a project for me,
                    simply fill this form and I’ll get back to you soon.
                </p>
                <div class="icon-list">
                    <ul>
                        <li> <a href="tel:+250 788 449 976">
                            <i class='fas fa-phone-square-alt'></i>
                            <p>+250 788 449 976</p>
                        </a>
                        </li>
                        <li> <a href="https://wa.me/250788449976">
                            <i class='fab fa-whatsapp'></i>
                            <p>+250 788 449 976</p>
                        </a>
                        </li>
                        <li> <a href="mailto:sibo.alphonsee@gmail.com">
                            <i class='fas fa-envelope-square'></i>
                            <p>sibo.alphonsee@gmail.com</p>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-col">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-elements">
                        <div class="half-form-element">
                            {{form.first_name}}
                        </div>
                        <div class="half-form-element">
                            {{form.last_name}}
                        </div>
                    </div>
                    <div class="form-elements">
                        <div class="half-form-element">
                            {{form.email}}
                        </div>
                        <div class="half-form-element">
                            {{form.phone_number}}
                        </div>
                    </div>
                    <div class="form-elements">
                        <div class="full-form-element">
                            {{form.message}}
                        </div>
                    </div>
                    <div class="form-elements">
                        <div class="half-form-element">
                            <input class="cta" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
 {% endblock %}