{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="offer-section">
    <div class="container">
        <div class="left-col">
            <h1>Get a free website</h1>
            <p>I’m giving away 100 free websites to celebrate my portfolio service
                . All you need to do is pay for your hosting of 50,000Rwf and the
                domain name of 13,000Rwf.
            </p>
            <a href="#submit-form" class="cta">Get in now</a>
        </div>

        <div class="right-col">
            <img src="{% static 'img/static website.svg' %}" alt="">
        </div>

    </div>
</section>

<section class="benefits">
    <div class="container">
        <h2>Value of 500,000Rwf Just for Free</h2>
        <p>A complete simple website for a fraction of the price, what’s not to love?
            You don’t have to worry about any design or development. I will show you how to
            change text and images to match your brand and voila! You have a professional-looking
            website. Great for personal blogs, business websites, or anything really.
            What are you waiting for?
        </p>
        <div class="benefits-content">
            <div class="benefit-card visibility">
                <div class="left-col text-col">
                    <h4>Increase your visibility.</h4>
                    <p>
                        Use this website to put your business or yourself out there,
                        so that people who are interested in your products or services may see you.
                        Publish your products or services for the world to see what you offer
                    </p>
                </div>
                <div class="right-col">
                    <img src="{% static 'img/undraw_web_development_0l6v.svg' %}" alt="Business credibility">
                </div>
            </div>
            <div class="benefit-card customers">
                <div class="left-col text-col">
                    <h4>Get new customers</h4>
                    <p>
                        Use this website to attract new customers to your business.
                        You can share the link on social media platforms and promote it,
                        or share it with your friends and family.
                    </p>
                </div>
                <div class="right-col">
                    <img src="{% static 'img/undraw_check_boxes_re_v40f.svg' %}" alt="Business credibility">
                </div>
            </div>

            <div class="benefit-card credibility">
                <div class="left-col">
                    <img src="{% static 'img/undraw_order_a_car_-3-tww.svg' %}" alt="Business credibility">
                </div>
                <div class="right-col text-col">
                    <h4>Business Credibility</h4>
                    <p>
                        A business with a website or a person with a website is more recognized and
                        respected to be able to support customers or provide
                        useful information very easily.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-section">
    <div class="container">
        <h2>
            Get it before I start charging 500,000Rwf for it
        </h2>
        <p>
            I will be charging 500,000Rwf for a professional simple website like this…
            so take this chance and save that. No hidden charges.
            Domain name and hosting will be yours. And you will have full accress to them.
        </p>
        <a href="#submit-form" class="cta">
            Claim your free website
        </a>
    </div>
</section>

<section class="qna">
    <div class="container">
        <h2>
            You may be wondering,
        </h2>
        <div class="question">
            <div class="question-title">
                <span> <i class="far fa-question-circle"></i></span> <span>
                    <h4>Do you need this website?</h4>
                </span>
            </div>
            <div class="answer">
                Of course you do. Having a website can attract new potential clients.
                A website will enable customers to see what your brand
                is about while learning about your products and/or services. It adds credibility to your business.
                You’re in control, and it is inexpensive and allows for wider reach. Fill the from
            </div>
        </div>

        <div class="question">
            <div class="question-title">
                <span> <i class="far fa-question-circle"></i></span> <span>
                    <h4>
                        How am I going to get my websites?</h4>
                </span>
            </div>
            <div class="answer">
                <p>
                    Since it’s already built, after buying hosting and the domain name, your can expect to get your
                    website after 48 hours.
                </p>
            </div>
        </div>

        <div class="question">
            <div class="question-title">
                <span> <i class="far fa-question-circle"></i></span> <span>
                    <h4>When I get my website, what's next?</h4>
                </span>
            </div>
            <div class="answer">
                <p>
                    I will send login credentials with the admin link. You can login and start adding relevant text
                    and images according to what you want people and clients to see. I will send you a detailed
                    video on how to to it! Fill the from.
                </p>
            </div>
        </div>

        <div class="question">
            <div class="question-title">
                <span> <i class="far fa-question-circle"></i></span> <span>
                    <h4>How am I going to pay for hosting and domain name?</h4>
                </span>
            </div>
            <div class="answer">
                <p>
                    I will help you with that. After submitting your details, I am going to send you invoice that
                    has all details you need.
                </p>
            </div>
        </div>

        <div class="question">
            <div class="question-title">
                <span> <i class="far fa-question-circle"></i></span> <span>
                    <h4>What else will I pay after this?</h4>
                </span>
            </div>
            <div class="answer">
                <p>
                    Nothing, you will pay for the hosting and domain name next year! Did you get that? Next Year.
                    Fill the form
                </p>
            </div>
        </div>

        <div class="question">
            <div class="question-title">
                <span> <i class="far fa-question-circle"></i></span> <span>
                    <h4>After getting my website, what else can I get?</h4>
                </span>
            </div>
            <div class="answer">
                <p>Well, it will depend on your goals. I will try to publish articles about how I think you can make
                    your website profitable.</p>
            </div>
        </div>
    </div>
</section>

<section class="container about-me" id="about">
    <div class="about-text">
        <h4 class="sub-heading">About me</h4>
        <h4 class="section-intro">I am the best and affordable and enthusiastic web designer, with a rich experience
            of over 4 years in website design industry.</h4>
        <div class="about-content">
            <div class="left-col">
                <h4 class="sub-heading">
                    I DESIGN PROFESSIONAL & PROFITABLE WEBSITES
                </h4>
                <p>
                    With years of experience in graphic and web design I have mastered the skills of understanding
                    client requirements according to the latest trends. I have worked with businesses from different
                    niches so you can rely on me for yours. Having worked on various projects that are already live,
                    I can help you with the best possible suggestions and ideas that we can proceed with. With me,
                    you aren’t forced to accept anything. I give you a variety of options we can work on together.
                </p>
                <a href="#submit-form">
                    <button class="cta">
                        Get yours now
                    </button>
                </a>
            </div>
            <div class="right-col">
                <img src="{% static 'img/Ineza-Couture.jpg' %}" alt="">
                <img src="{% static 'img/Imbonizarwo.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="offer-form" id="submit-form">
    <div class="container">
        <h4 class="sub-heading">Are you interested?</h4>
        <h4 class="section-intro"> Let's work together, fill the form with basic information, and let's beggin your
            project</h4>
        <div class="offer-form-content">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-elements">
                    <div class="half-form-element">
                        {{form.first_name}}
                    </div>
                    <div class="half-form-element">
                        {{form.last_name}}
                    </div>
                </div>
                <div class="form-elements">
                    <div class="half-form-element">
                        {{form.email}}
                    </div>
                    <div class="half-form-element">
                        {{form.phone_number}}
                    </div>
                </div>
                <div class="form-elements">
                    <div class="full-form-element">
                        {{form.website_details}}
                    </div>
                </div>
                <div class="form-elements">
                    <div class="half-form-element">
                        <input class="cta" type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}