{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <title>Quotation | Alphonse</title>
</head>
<body>
    <section class="quotation">
        <div class="container">
            <div class="left-col">
                <a class="page-link" href="{% url 'projects' %}">
                    <span><img src="{% static '/img/about/arrows.svg' %}" alt=""></span> <p>View my past projects</p>
                </a>
                <div class="info">
                    <div class="sub-heading">Fill the form with enough info about the website you need <span><img src="{% static '/img/about//arrow right.svg' %}" alt=""></span> </div>
                    <h1 class="heading">
                        On every project, I give 3 months of maintenance for free. Time, effor and care
                        I invest in py clients' project, allow me to serve you to the maximum
                    </h1>
                </div>
                <p>If there is anything you don't understand, feel free to get in touch with me, I'll answer any question that you have</p>
            </div>
            <div class="right-col">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.full_name}}
                    {{form.phone_number}}
                    {{form.email}}
                    {{form.country}}
                    {{form.notes}}
                    <input type="submit" value="Request a proposal">
                </form>
            </div>
        </div>
    </section>
    <script src="{% static '/js/form.js' %}"></script>
</body>