{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="thank-you">
    <div class="container">
        <h1>
            Thank you for your interest in working with me.
        </h1>
        <p>
            Now, click Book a meeting to,  and choose date and time you'll be available to
            discuss next steps like (content, design and payments)
        </p>
        <!--
            <div class="contact-btn">
            <a href="https://wa.me/250788449976">
                <i class="fab fa-whatsapp"></i> <span> WhatsApp me</span>
            </a>
            <a href="sms:+250788449976">
                <i class="fa fa-envelope"></i> <span> Text me</span>
            </a>
            <a href="mailto:sibo.alphonsee@gmail.com">
                <i class="fas fa-envelope-open-text"></i> <span> Email me</span>
            </a>
        </div>
        -->
        <div class="contact-btn">
            <a href="https://calendly.com/sibo-alphonsee/client-initial-metting">
                <i class="fab fa-whatsapp"></i> <span> Book a meeting</span>
            </a>
    </div>
</section>
{% endblock %}