{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="thank-you">
    <div class="container">
        <h1>
            Thank you for your interest in working with me.
        </h1>
        <p>
            Please check your email for details about your project and more info.
        </p>

        <div class="contact-btn">
            <a href="https://wa.me/250788449976">
                <i class="fab fa-whatsapp"></i> <span> WhatsApp me</span>
            </a>
            <a href="text:+250788449976">
                <i class="fa fa-envelope"></i> <span> Text me</span>
            </a>
            <a href="mailto:sibo.alphonsee@gmail.com">
                <i class="fas fa-envelope-open-text"></i> <span> Email me</span>
            </a>
        </div>
    </div>
</section>
{% endblock %}